@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&family=Parisienne&display=swap');

/* 基本設定
****************************************/
html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  font-family: 'Noto Serif JP', serif;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  vertical-align: middle;
}

/* 共通
****************************************/
.background {
  background-color: #F8F9FA;
}

.inner {
  max-width: 1148px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.sec__ttl {
  font-size: 64px;
  text-align: center;
  color: #B6E2A2;
  margin: 132px auto 70px;
  font-family: 'Parisienne', cursive;
}

.link a {
  display: block;
  text-decoration: none;
  color: #555;
  border: 1px solid #ccc;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.3em;
}

.link a:hover {
  background-color: #555;
  color: #fff;
}

.pc_hidden {
  display: none;
}

.font_p {
  font-family: 'Parisienne', cursive;
}

.slick-dots li button:before {
  font-size: 40px!important;
  
}
.slick-dots li button {
  padding-bottom: 10px!important;
}

.slick-dots li.slick-active button:before {
  color: #B6E2A2!important;
}


@media screen and (max-width:768px) {
  .sec__ttl {
    margin: 64px auto 40px;
  }

  .pc_hidden {
    display: block;
  }

}

/* header
****************************************/

.header__navbtn {
  display: block;
  width: 48px;
  padding-top: 32px;
 cursor: pointer;
 position: absolute;
 top: 20px;
 left: 92%;
 z-index: 30;
}

.header__navbtn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #555;
  transition: transform .5s, opacity .5s;
  position: absolute;
}

.header__navbtn span:first-child {
  top: 20px;
}

.header__navbtn span:nth-last-child(2){
  top: 35px;
  
}

.header__navbtn span:last-child{
  top: 50px;
}

.header__nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgba(182, 226, 162, 80%);
  z-index: 10!important;
}

.header__nav_ttl {
  color: #fff;
  font-size: 42px;
  font-family: 'Parisienne', cursive;
  padding-top: 200px;
  letter-spacing: 0.2em;
}

.header__nav li {
  padding-top: 36px;
}

.header__nav a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.header__nav.show {
  opacity: 1;
  visibility: visible;
}

.header__navbtn span:first-child.show {
  top: 35px;
transform: rotate(45deg);
}

.header__navbtn span:nth-last-child(2).show{
  opacity: 0;
}

.header__navbtn span:last-child.show {
  top: 35px;
transform: rotate(-45deg);
}

@media screen and (max-width:768px) {
  .header__navbtn {
  left: 85%;
  }

  .header__nav_ttl {
    padding-top: 100px;
  }
}

/* mv
****************************************/

.mv {
  background-image: url(/image/mv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.mv__subttl {
  font-size: 19px;
  letter-spacing: 0.5em;
  padding-top: 300px;
}

.mv__ttl {
  font-size: 86px;
  font-family: 'Parisienne', cursive;
}

.mv__icon {
  width: 60px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #B6E2A2;
  z-index: 30;
}

.mv__icon a{
  color: #fff;
}

@media screen and (max-width:768px) {
  .mv__subttl {
    font-size: 16px;
  }

  .mv__ttl {
    font-size: 46px;
  }
}

/* about
****************************************/

.about {
  padding-top: 147px;
}

.about__container {
  justify-content: space-between;
}

.about__cont {
  max-width: 469px;
  text-align: center;
}

.about__cont_lead {
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0 20px;
  letter-spacing: 0.1em;
}

.about__cont_txt {
  line-height: 2em;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
}

.about__cont_link {
  max-width: 165px;
  margin: 0 auto;
}

@media screen and (max-width:768px) {
  .about__container {
    display: block;
  }
}

/* menu
****************************************/
.menu__container {
  margin-bottom: 80px!important;
}

.menu__cont {
  max-width: 320px;
  box-shadow: 0px 3px 6px #000;
  margin: 20px 25px 20px 25px;
}

.menu__cont p {
  letter-spacing: 0.1em;
  padding: 10px 10px 0 10px;
}

.menu__cont_price {
  margin-bottom: 10px;
}

.menu__cont_link {
  max-width: 235px;
  margin: 0 auto;
}

/* contact
****************************************/

.contact {
  margin-top: 144px;
}

.contact__container {
  justify-content: space-between;
}

.contact__cont {
  text-align: center;
}

.contact__cont_lead {
  font-size: 24px;
  letter-spacing: 0.1em;
  margin: 40px auto 20px;
}

.contact__cont p {
  letter-spacing: 0.1em;
}

.contact__cont_link {
  max-width: 177px;
  margin: 30px auto 0;
}

@media screen and (max-width:768px) {
  .contact__container {
    flex-direction: column-reverse;
  }
}

/* blog
****************************************/
.blog__container {
  justify-content: space-between;
}

.blog__cont {
  max-width: 336px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.blog__cont_date {
  line-height: 2.5em;
  letter-spacing: 0.2em;
  background-color: #B6E2A2;
  color: #fff;
  text-align: center;
}

.blog__cont_ttl {
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2em;
}

@media screen and (max-width:768px) {
  .blog__container {
    display: block;
  }
}

/* map
****************************************/

.map__container {
  text-align: center;
  padding-bottom: 145px;
}

.map__container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.map__container iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* footer
****************************************/

.footer__container {
  justify-content: space-between;
  max-width: 90%;
  margin: 80px auto;
}

.footer__cont_lead {
  font-size: 13px;
  letter-spacing: 0.1em;
}

.footer__cont_shop {
  font-size: 32px;
  letter-spacing: 0.1em;
}

.footer__cont_nav nav {
  display: flex;
}

.footer__cont_nav ul {
  display: flex;
}

.footer__cont_nav li {
  margin-left: 30px;
  letter-spacing: 0.1em;
}

.footer_small {
  font-size: 11px;
  text-align: end;
  margin-top: 60px;
}

.footer__cont_nav a{
  color: #333;
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .footer__container {
    display: block;
  }

  .footer__cont {
    text-align: center;
  }

  .footer__cont_nav nav {
    display: block;
  }

  .footer__cont_nav ul {
    justify-content: center;
  }

  .footer_small {
    text-align: center;
    margin: -50px 0 30px;
  }
}
